* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;

}

/* navbar */

nav {
    display: flex;
    background-color: lightblue;
    justify-content: space-around;
    /* padding: 20px 0; */
    height: 50px;
    color: blue;
    align-items: center;
}

nav .logo {
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: blue;
    text-decoration: none;
    font-size: 0.8em;
}

nav ul li a hover {
    color: cadetblue;
}


/* humberger menu */
.menu-toogle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;

}

.menu-toogle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toogle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: blue;
    border-radius: 3px;
    transition: all 0.5s;
}

/* humberger menu animation */
.menu-toogle span:nth-child(2) {
    transform-origin: 0 0;

}

.menu-toogle span:nth-child(4) {
    transform-origin: 0 100%;

}

.menu-toogle input:checked~span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toogle input:checked~span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toogle input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}


/* responsive tablet */

@media screen and (max-width : 760px) {
    nav ul {
        width: 50%;
    }
}

/* responsive mobile */

@media screen and (max-width : 576px) {
    .menu-toogle {
        display: flex;
    }

    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        justify-content: space-evenly;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        width: 80%;
        background-color: lightblue;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide {
        transform: translateX(0);
        opacity: 1;
    }
}